createdAt: "2019-09-23T00:07:34.055Z"
updatedAt: "2019-09-23T00:07:40.985Z"
type: "MARKDOWN_NOTE"
folder: "741758f4f4f2c83b702e"
title: "Lecture 7 Notes: Sometime"
tags: []
content: "Lecture 7 Notes: Sometime"
linesHighlighted: []
isStarred: false
isTrashed: false
