createdAt: "2019-09-23T00:07:09.948Z"
updatedAt: "2019-09-23T00:07:16.882Z"
type: "MARKDOWN_NOTE"
folder: "741758f4f4f2c83b702e"
title: "Lecture 4 Note: Sometime"
tags: []
content: "Lecture 4 Note: Sometime"
linesHighlighted: []
isStarred: false
isTrashed: false
