createdAt: "2019-09-23T00:07:18.596Z"
updatedAt: "2019-09-23T00:07:24.599Z"
type: "MARKDOWN_NOTE"
folder: "741758f4f4f2c83b702e"
title: "Lecture 5 Notes: Sometime"
tags: []
content: "Lecture 5 Notes: Sometime"
linesHighlighted: []
isStarred: false
isTrashed: false
