createdAt: "2019-09-23T00:07:26.484Z"
updatedAt: "2019-09-23T00:07:32.699Z"
type: "MARKDOWN_NOTE"
folder: "741758f4f4f2c83b702e"
title: "Lecture 6 Notes: Sometime"
tags: []
content: "Lecture 6 Notes: Sometime"
linesHighlighted: []
isStarred: false
isTrashed: false
