createdAt: "2019-08-26T21:27:13.275Z"
updatedAt: "2019-08-26T21:27:24.407Z"
type: "MARKDOWN_NOTE"
folder: "741758f4f4f2c83b702e"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
