createdAt: "2019-09-23T00:06:54.405Z"
updatedAt: "2019-09-23T00:07:06.157Z"
type: "MARKDOWN_NOTE"
folder: "741758f4f4f2c83b702e"
title: "Lecture 3 Notes: Sometime"
tags: []
content: "Lecture 3 Notes: Sometime"
linesHighlighted: []
isStarred: false
isTrashed: false
